DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tour-aggregator
DB_PORT=5432
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

ACCESS_KEY_ID=minioadmin
SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=app-bucket
S3_FORCE_PATH_STYLE="true"

SUPPLIER_JWT_SECRET=secret
SUPPLIER_VERIFICATION_CODE_EXPIRATION_SECONDS=30
SUPPLIER_VERIFICATION_CODE_RESEND_SECONDS=120
