@layer tailwind-base, tailwind-components, antd, antd-custom, tailwind-utilities, base, components, utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;

}

@layer tailwind-utilities {
  @tailwind utilities;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-body1 {
    @apply text-base leading-[140%] font-normal;
  }
  .text-body2 {
    @apply text-sm leading-[130%] font-normal;
  }
  .text-body3 {
    @apply text-[10px] leading-[120%] font-normal;
  }
  .text-headline1 {
    @apply text-[40px] leading-[120%] font-semibold;
  }
  .text-headline2 {
    @apply text-[30px] leading-[120%] font-semibold;
  }
  .text-headline3 {
    @apply text-2xl leading-[120%] font-semibold;
  }
  .text-headline4 {
    @apply text-xl leading-[140%] font-semibold tracking-[-.02em];
  }
  .text-headline5 {
    @apply text-base leading-[130%] font-semibold tracking-[-.02em];
  }
  .text-caption1 {
    @apply text-base leading-[140%] font-medium tracking-[-.02em];
  }
  .text-caption2 {
    @apply text-xs leading-[120%] font-medium;
  }
  .text-caption3 {
    @apply text-xs leading-[130%] font-normal;
  }
  .text-caption4 {
    @apply text-4xl leading-9 font-semibold;
  }
  .text-caption5 {
    @apply text-base leading-[140%] font-semibold tracking-[-.02em];
  }
  .main-layout-padding-horizontal {
    @apply px-4 sm:px-16 md:px-[60px] lg:px-[120px];
  }
}


@layer antd-custom {
  .ant-picker {
    @apply h-10 w-full py-2 px-3 rounded-md;
  }
  .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    @apply border-primaryGreen;
  }
  .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    @apply bg-primaryGreen
  }
  .ant-picker-dropdown .ant-picker-header-view >button:hover {
    @apply text-primaryGreen
  }
  .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
    @apply bg-primaryGreen/20
  }
  .ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    @apply bg-primaryGreen/20
  }
  .ant-btn-variant-solid {
    @apply bg-primaryGreen;
  }
  .ant-btn-variant-solid:disabled, .ant-btn-variant-solid.ant-btn-disabled {
    @apply bg-muted
  }
  .ant-picker-outlined:focus, .ant-picker-outlined:focus-within {
    @apply border-primaryGreen;
  }
  .ant-picker-range .ant-picker-active-bar {
    @apply bg-primaryGreen;
  }
  .ant-picker-outlined:hover {
    @apply border-input
  }
  .ant-picker .ant-picker-input >input:placeholder-shown {
    @apply placeholder-muted-foreground
  }
  .ant-picker.ant-picker-multiple .ant-picker-selector .ant-picker-selection-placeholder {
    inset-inline-start: 0;
  }
}
